<div class="form-container">
    <form class="form">
        <mat-form-field appearance="outline" class="example-chip-list">
            <!-- mat chip  -->
            <mat-chip-grid #chipGrid aria-label="Fruit selection">
                <mat-chip-row *ngFor="let userProfile of email" (removed)="remove(userProfile)">
                    <div>{{userProfile.email}}</div>
                    <div>{{userProfile?.username}}</div>
                    <button matChipRemove [attr.aria-label]="'remove ' + email">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
            </mat-chip-grid>
            <!-- email  -->
            <input type="email" matInput [formControl]="emailCtrl" matInput placeholder="New Email..." #emailInput [matChipInputFor]="chipGrid" [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
            <!-- auto complete  -->
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let useProfile of filteredEmail | async" [value]="useProfile">
                    {{useProfile.email}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <!-- mat error  -->
        <mat-error *ngIf="emailCtrl.invalid && (emailCtrl.dirty || emailCtrl.touched)">
            <span *ngIf="emailCtrl.errors?.['required']">Email is required.</span>
            <span *ngIf="emailCtrl.errors?.['pattern']">Invalid email format.</span>
        </mat-error>
    </form>

    <button mat-mini-fab color="primary" color="primary" (click)="submitForm()" [disabled]="email.length==0">
        <mat-icon>check</mat-icon>
    </button>
    <button mat-mini-fab color="primary" color="primary" (click)="closeEmailForm()">
        <mat-icon>close</mat-icon>
    </button>
</div>