.contaniner{
    max-width: 1400px;
    margin: 0 auto;
}

.mdc-list-item.mdc-list-item--with-one-line{
    height: 100% !important;
}
.list-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mat-mdc-list-base {
    --mdc-list-list-item-one-line-container-height: 100%;
    --mdc-list-list-item-two-line-container-height: 100%;
    --mdc-list-list-item-three-line-container-height: 100%;
}
h4{
    font-size: 24px;
    font-weight: 500;
}
.span-icon{
    background: #559efd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF !important;
    border-radius: 50%;
    padding: 5px
}
.sub-list{
    position: relative;
}
.menu-icon{
    position: absolute;
    top: 0px;
    right: 0px;
}